[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
commonName = *.mnikolov.42.fr 
organizationName = 42
organizationalUnitName = 42
localityName = 42Lausanne
stateOrProvinceName = Renens 
countryName = CH

[v3_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment